@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1f242d;
  overflow-x: hidden;
  position: relative;
}


/* Navbar Section */

.navbar {
  width: 100%;
  padding: 25px 9%;
  background-color: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}   

a {
  text-decoration: none;
  color: #fff;
}

.nav-name {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.navbar ul {
  position: absolute;
  right: 90px;
  top: 31px;
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 15px;
}
.nav-link {
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}
.nav-link:hover {
  color: #7cf03d;
}
.burmen {
  display: none;
}
.hidden {
  display: none;
}


 /* Home Section */



 .line{
    height: 1px;
    width: 100dvw;
    background-color: gray;
  }
  
  
  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100dvh;
    padding: 0px 9% 0px;
    color: white;
  background-color: #1f242d;
  }
  
  .home-content h1 {
    font-size: 57px;
    display: flex;
    gap: 15px;
  }
  .home-content .kamal{
    color: #7cf03d;
    font-size: 57px;
  }
  
  .home-content h2 {
    font-size: 29px;
    /* margin-top: -5px; */
  }
  #element {
    color: transparent;
    -webkit-text-stroke: 1.9px #7cf03d;
  }
  
  .home-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .download-btn {
    padding: 10px 35px;
    display: inline-block;
    background-color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 20px;
    color: #1f242d;
    font-weight: 700;
    transition: 0.4s;
  }
  .download-btn:hover {
    box-shadow: none;
    background: transparent;
    color: #7cf03d;
  }
  .home-link {
    margin-left: 20px;
  }
  .home-link a {
    border: 2px solid #7cf03d;
    border-radius: 50%;
    display: inline-flex;
    padding: 9px;
    font-size: 31px;
    color: #7cf03d;
    margin: 0 5px;
    transition: 0.4s;
  }
  .home-link a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
  }
  .home-img img {
    height: 350px;
    width: 350px;
    border-radius: 10%;
    box-shadow: 0 0 10px #fff;
    /* background-color: #7cf03d; */
  }
  

  /* Skill Section */


  
#MySkills{
    /* height: 100dvh; */
    padding-bottom: 1px;
    width: 100dvw;
    height: 100dvh;
    background-color: #1f242d;
  }
  #MySkills h1{
    margin-top: 20px;
    font-size: 45px;
    color: #7cf03d;
    text-align: center;
  }
  #skills{
    margin: 60px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  
  .skill-card{
    height:400px; 
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
  }
  .skill-card img{
    height: 330px;
    width: 350px;
  }
  
  .my{
    color: white;
  }
