@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1f242d;
  overflow-x: hidden;
  position: relative;
}

/* Navbar Section */

.navbar {
  width: 100%;
  padding: 25px 9%;
  background-color: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}

.navbar {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}


a {
  text-decoration: none;
  color: #fff;
}

.nav-name {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.navbar ul {
  position: absolute;
  right: 80px;
  top: 31px;
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 10px;
}
.nav-link {
  font-size: 19px;
  font-weight: 600;
  transition: 0.5s;
}
.nav-link:hover {
  color: #7cf03d;
}
.burmen {
  display: none;
}
.hidden {
  display: none;
}

/* Home Section */

.line {
  height: 1px;
  width: 100dvw;
  background-color: gray;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100dvh;
  padding: 0px 3% 0px;
  color: white;
  background-color: #1f242d;
}

.home-content h1 {
  font-size: 49px;
  display: flex;
  gap: 15px;
}
.home-content .kamal {
  color: #7cf03d;
  font-size: 49px;
}

.home-content h2 {
  font-size: 25px;
  /* margin-top: -5px; */
}
#element {
  color: transparent;
  -webkit-text-stroke: 1.9px #7cf03d;
}

.home-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.download-btn {
  padding: 10px 25px;
  display: inline-block;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 20px;
  color: #1f242d;
  font-weight: 700;
  transition: 0.4s;
}
.download-btn:hover {
  box-shadow: none;
  background: transparent;
  color: #7cf03d;
}
.home-link {
  margin-left: 15px;
}
.home-link a {
  border: 2px solid #7cf03d;
  border-radius: 50%;
  display: inline-flex;
  padding: 7px;
  font-size: 30px;
  color: #7cf03d;
  margin: 0 3px;
  transition: 0.4s;
}
.home-link a:hover {
  background: #7cf03d;
  color: #1f242d;
  box-shadow: 0 0 10px #7cf03d;
}
.home-img img {
  height: 330px;
  width: 360px;
  border-radius: 10%;
  box-shadow: 0 0 10px #fff;
  /* background-color: #7cf03d; */
}

.home-content{
  -webkit-animation: s-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: s-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.home-img{
  -webkit-animation: s-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
  both;
animation: s-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes s-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(70px);
    transform: translateX(70px);
  }
}
@keyframes s-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(70px);
    transform: translateX(70px);
  }
}

@-webkit-keyframes s-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-70px);
    transform: translateX(70px);
  }
}
@keyframes s-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
  }
}




/* Skill Section */

#MySkills {
  /* height: 100dvh; */
  padding-bottom: 1px;
  width: 100dvw;
  height: 100dvh;
  background-color: #1f242d;
  position: relative;
}
#MySkills h1 {
  margin-top: 20px;
  font-size: 45px;
  color: #7cf03d;
  text-align: center;
}
#skills {
  margin: 50px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  height: 320px;
  width: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
}
.skill-card img {
  height: 100%;
  width: 100%;
}
/* .skill-card:nth-child(1){
  position: absolute;
  top: 25dvh;
  left: 100px;
}
.skill-card:nth-child(2){
  position: absolute;
  top: 35dvh;
  left:  37dvw;
}
.skill-card:nth-child(3){
  position: absolute;
  top: 45dvh;
  right: 10dvw;
}
.skill-card:hover{
  transform: scale(1.1);
} */
.my {
  color: white;
}

#MySkills:hover{
  .skill-card {
    -webkit-animation: scale-up-bottom 0.7s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: scale-up-bottom 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

/* Projects Section */

#MyProject {
  width: 100dvw;
  height: 100dvh;
  background-color: #1f242d;
}
.upperWork {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upperWork h6 {
  margin-left: 15dvw;
  color: #1f242d;
}
.upperWork h1 {
  font-size: 40px;
  color: #7cf03d;
}

.mywork-btn button {
  cursor: pointer;
  margin: 15px;
  margin-right: 5dvw;
  padding: 9px 18px;
  border-radius: 40px;
  font-size: 16px;
  color: #1f242d;
  font-weight: 700;
  transition: 0.4s;
  background-color: #7cf03d;
  box-shadow: 0 0 10px #7cf03d;
  border: 2px solid #7cf03d;
}
.mywork-btn button:hover {
  box-shadow: none;
  background: transparent;
  color: #7cf03d;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  column-gap: 11rem;
  margin-top: 30px;
  padding-bottom: 40px;
}

.workcard {
  border-radius: 2rem;
  width: 500px;
  height: 190px;
  display: flex;
  justify-content: center;
  position: relative;
}
.workcard img {
  border-radius: 2rem;
  width: 430px;
  height: 100%;
  box-shadow: 0 0 2rem black;
  transition: .4s;
}
.workcard .card-title {
  position: absolute;
  top: 42%;
  right: 36%;
  font-size: 20px;
  color: rgb(11, 207, 135);
}
.workcard img:hover{
  transform: scale(1.1);
}

#MyProject:hover {
  .workcard:nth-child(1) {
    -webkit-animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .workcard:nth-child(3) {
    -webkit-animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .workcard:nth-child(2) {
    -webkit-animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .workcard:nth-child(4) {
    -webkit-animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #160959;
  color: white;
  width: 100dvw;
  padding-top: 50px;
}
.aboutimg {
  border-radius: 50%;
}
.aboutimg img {
  height: 300px;
  width: 300px;
  border-radius: 10%;
  box-shadow: 0 0 10px #fff;
}
.aboutstring {
  width: 45dvw;
}
.abouth2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}
.aboutp {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.footer a {
  width: 100dvw;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62b535;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.footer:hover {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 769px) {
  .navul {
    display: none;
  }
  .burmen {
    display: flex;
  }
  #burger-menu-content ul {
    position: absolute;
    top: 70px;
    right: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: rgba(34, 33, 33, 0.699); */
    /* width: 200px; */
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    background-color: rgb(151, 141, 141);
  }
  #burger-menu-content a {
    cursor: pointer;
    /* color: white; */
  }
  #burger-menu-content a:hover {
    color: #7cf03d;
  }
}
@media screen and (max-width: 431px) {
  .home-content {
    margin-top: 100px;
  }
  .home-content h1 {
    font-size: 40px;
  }
  .home-content .kamal {
    font-size: 40px;
  }

  .home-content h2 {
    font-size: 20.5px;
  }
  .download-btn {
    font-size: 15px;
  }
  .home-link a {
    padding: 5px;
    margin: 2px;
    font-size: 20px;
  }
  .home-img img {
    width: 350px;
  }
  .skill-card {
    height: 235px;
    /* padding: 20px; */
  }
  .skill-card img {
    height: 205px;
    width: 230px;
  }
  #skills {
    margin-top: 0;
  }
  .projects {
    gap: 0.7rem;
    margin-top: 10px;
  }
  .upperWork h1 {
    display: flex;
    gap: 10px;
    font-size: 23px;
  }
  .mywork-btn button {
    font-size: 14px;
    padding: 9px;
  }
  .workcard {
    width: 340px;
  }
  .workcard img {
    width: 340px;
    height: 180px;
  }
  #about {
    height: 100dvh;
  }
  .aboutstring {
    width: 70dvw;
  }
}

@media screen and (max-width: 400px) {
  .home-content h1 {
    font-size: 30px;
  }

  .home-content h2 {
    font-size: 15px;
  }
  .download-btn {
    font-size: 10px;
  }
  .home-link a {
    padding: 3px;
  }
  .home-img img {
    height: 300px;
    width: 300px;
  }
}
