@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  overflow-x: hidden;
  position: relative;
}
:root {
  /* --primiry-color: #7cf03d; */
  --primiry-color: #00ffee;
  --secondary-color: #fff;
}
/* Navbar Section */

.navbar {
  width: 100%;
  height: 70px;
  padding: 10px 9%;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-name {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 15px var(--primiry-color);
}
.nav-name span {
  color: var(--primiry-color);
  text-shadow: 0 0 15px var(--secondary-color);
}

.navbar ul {
  position: absolute;
  right: 80px;
  top: 20px;
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 10px;
  position: relative;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primiry-color);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.navbar ul li a:hover::before {
  transform: scaleX(1);
}

.nav-link {
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--primiry-color);
  text-shadow: 0 0 5px var(--primiry-color);
}
.burmen {
  display: none;
}
.hidden {
  display: none;
}

/* Home Section */

.line {
  height: 1px;
  width: 100dvw;
  background-color: gray;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90dvh;
  padding: 0px 3% 0px;
  color: var(--secondary-color);
}

.home-content h1 {
  font-size: 51px;
  display: flex;
  text-shadow: 0 0 8px var(--primiry-color);
  gap: 15px;
}
.home-content .kamal {
  color: var(--primiry-color);
  font-size: 51px;
  text-shadow: 0 0 8px var(--secondary-color);
}

.home-content h2 {
  font-size: 28px;
  /* margin-top: -5px; */
}
#element {
  color: transparent;
  -webkit-text-stroke: 1.9px var(--primiry-color);
}

.home-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.download-btn {
  padding: 10px 30px;
  display: inline-block;
  background-color: var(--primiry-color);
  border: 2px solid var(--primiry-color);
  border-radius: 40px;
  box-shadow: 0 0 10px var(--primiry-color);
  font-size: 20px;
  color: #1f242d;
  font-weight: 700;
  transition: 0.4s;
}
.download-btn:hover {
  box-shadow: none;
  background: transparent;
  color: var(--primiry-color);
}
.home-btn .download-icon {
  color: #1f242d;
}
.home-btn .download-icon:hover {
  color: var(--primiry-color);
}

.home-link {
  margin-left: 15px;
}
.home-link a {
  border: 2px solid var(--primiry-color);
  border-radius: 50%;
  display: inline-flex;
  padding: 9px;
  font-size: 26px;
  color: var(--primiry-color);
  margin: 0 3px;
  transition: 0.4s;
}
.home-link a:hover {
  background: var(--primiry-color);
  color: #1f242d;
  box-shadow: 0 0 10px var(--primiry-color);
}
.home-img img {
  height: 350px;
  width: 360px;
  border-radius: 30%;
  background-color: #306763;
  box-shadow: 0 0 15px var(--primiry-color);
  transition: 0.3s;
}
.home-img img:hover {
  box-shadow: 0 0 50px var(--primiry-color);
}

.home-content {
  -webkit-animation: s-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: s-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.home-img {
  -webkit-animation: s-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: s-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes s-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(70px);
    transform: translateX(70px);
  }
}
@keyframes s-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(70px);
    transform: translateX(70px);
  }
}

@-webkit-keyframes s-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-70px);
    transform: translateX(70px);
  }
}
@keyframes s-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
  }
}

/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--secondary-color);
  width: 100dvw;
  min-height: 100dvh;
}

.aboutstring {
  width: 60dvw;
  height: 99dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.abouth1 {
  font-size: 50px;
  color: var(--primiry-color);
  margin-bottom: 30px;
  text-shadow: 0 0 20px var(--primiry-color);
}
.abouth1 span {
  color: white;
}
.aboutp {
  /* text-align: center; */
  font-weight: 500;
  font-size: 19px;
}

/* Skill Section */

#MySkills {
  padding-bottom: 1px;
  width: 100dvw;
  min-height: 100dvh;
  position: relative;
  padding-top: 10dvh;
}
#MySkills h1 {
  margin-top: 20px;
  font-size: 45px;
  color: var(--primiry-color);
  text-align: center;
  text-shadow: 0 0 20px var(--primiry-color);
}
#skills {
  margin: 50px;
  margin-bottom: 0;
  padding: 20px;
  padding-top: 40px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.skill-card {
  height: 200px;
  width: 180px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  background-color: var(--secondary-color);
}
.skill-card img {
  height: 100%;
  width: 100%;
}
.skill-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px var(--primiry-color);
}
/* .skill-card:nth-child(1){
  position: absolute;
  top: 25dvh;
  left: 100px;
}
.skill-card:nth-child(2){
  position: absolute;
  top: 35dvh;
  left:  37dvw;
}
.skill-card:nth-child(3){
  position: absolute;
  top: 45dvh;
  right: 10dvw;
}
.skill-card:hover{
  transform: scale(1.1);
} */
.my {
  color: var(--secondary-color);
}

/* Projects Section */

#MyProject {
  padding-top: 13dvh;
  width: 100dvw;
}
.upperWork {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upperWork h6 {
  margin-left: 15dvw;
  color: #1f242d;
}
.upperWork h1 {
  font-size: 40px;
  color: var(--primiry-color);
  text-shadow: 0 0 20px var(--primiry-color);
}

.mywork-btn button {
  cursor: pointer;
  margin: 15px;
  margin-right: 5dvw;
  padding: 9px 18px;
  border-radius: 40px;
  font-size: 16px;
  color: #1f242d;
  font-weight: 700;
  transition: 0.4s;
  background-color: var(--primiry-color);
  box-shadow: 0 0 10px var(--primiry-color);
  border: 2px solid var(--primiry-color);
}
.mywork-btn button:hover {
  box-shadow: none;
  background: transparent;
  color: var(--primiry-color);
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  /* column-gap: 11rem; */
  margin-top: 20px;
  padding-bottom: 55px;
}

.workcard {
  border-radius: 2rem;
  /* width:550px; */
  height: 240px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 1rem var(--primiry-color);
}
.workcard img {
  border-radius: 20px;
  width: 480px;
  height: 100%;
  box-shadow: 0 0 2rem black;
  transition: 0.4s;
}
.workcard .card-title {
  /* position: absolute;
  top: 42%;
  right: 22%; */
  font-size: 17px;
  color: var(--primiry-color);
}
.workcard img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primiry-color);
}

.footer  {
  width: 100dvw;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primiry-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.footer a{
  color: rgb(0, 0, 0);
}
.footer:hover {
  text-decoration: underline;
}

.cross-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 769px) {
  .navul {
    display: none;
  }
  .burmen {
    display: flex;
  }
  .home {
    padding: 0;
  }
  .home-content h1,
  .home-content .kamal {
    font-size: 36px;
  }
  .home-content h2 {
    font-size: 18px;
  }
  .home-content h2 #element {
    -webkit-text-stroke: 1px var(--primiry-color);
  }
  .home .download-btn {
    padding: 10px 15px;
    font-size: 13px;
  }
  .home-link a {
    padding: 7px;
    font-size: 19px;
  }
  .home-img img {
    width: 270px;
    color: rgb(255, 255, 255);
    height: 270px;
  }
  #burger-menu-content ul {
    position: absolute;
    top: 70px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    font-size: 22px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    width: 100dvw;
  }
  #burger-menu-content a {
    cursor: pointer;
    /* color: white; */
  }
  #burger-menu-content a:hover {
    color: var(--primiry-color);
  }
}
@media screen and (max-width: 431px) {
  .home {
    justify-content: center;
  }
  .home-img,
  .home-content {
    animation: none;
  }
  .home-content {
    margin-top: 100px;
  }
  .home-content h1 {
    font-size: 40px;
  }
  .home-content .kamal {
    font-size: 40px;
  }

  .home-content h2 {
    font-size: 22px;
  }
  .home-link a {
    padding: 5px;
    margin: 2px;
    font-size: 20px;
  }
  .home-img img {
    width: 320px;
  }
  .aboutp {
    font-size: 23px;
  }
  .skill-card {
    height: 205px;
    width: 170px;
  }
  .skill-card img {
    height: 100%;
    width: 100%;
  }
  #skills {
    margin: 0;
  }
  .projects {
    gap: 3rem;
    margin-top: 10px;
  }
  .upperWork h1 {
    display: flex;
    gap: 10px;
    font-size: 23px;
  }
  .mywork-btn button {
    font-size: 14px;
    padding: 9px;
  }
  .workcard {
    width: 290px;
    height: 150px;
  }
  .workcard img {
    width: 300px;
    height: 100%;
  }
  #about {
    min-height: 100dvh;
  }
  .aboutstring {
    width: 70dvw;
  }
}

@media screen and (max-width: 391px) {
  .home-content h1, .home-content .kamal {
    font-size: 30px;
  }

  .home-content h2 {
    font-size: 17px;
  }

  .home-link a {
    padding: 3px;
  }
  .home-img img {
    height: 270px;
    width: 300px;
  }
  .skill-card {
    height: 160px;
    width: 130px;
  }
}
