@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
}

@utility star {
  @apply absolute rounded-full bg-white;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

body {
  background-color: #05090F;
}

.Typewriter__cursor {
  font-weight: bold;
  animation: blink 1s infinite;
}

.fira-code {
  font-family: "Source Code Pro", monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #585656;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}